#aboutMe,
.about-scroll {
  box-sizing: border-box;
  overflow: hidden
}

#aboutMe {
  background: #111;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem
}

.about-scroll {
  width: 100%;
  height: 100%
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left
}

.about-container h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem
}

.about-container .about-desc {
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.8;
  margin-bottom: 3rem
}

.about-desc {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 3rem
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem
}

.skill-bar {
  margin-bottom: 1rem
}

.skill-bar span {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem
}

.skill-bar .bar {
  background: #333;
  border-radius: 8px;
  height: 12px;
  width: 100%;
  overflow: hidden
}

.skill-bar .bar .fill {
  background: linear-gradient(90deg, #b400ff, #6a00ff);
  height: 100%;
  width: 0%;
  transition: width 1s;
  border-radius: 8px
}

#aboutMe .about-desc,
#aboutMe .skill-bar,
#aboutMe h2 {
  opacity: 0;
  transform: translateY(50px)
}

@media (max-width:1250px) {
  #aboutMe {
    padding: 1rem 1vw !important
  }

  .about-container h2 {
    font-size: clamp(7rem, 4vw, 3rem) !important
  }

  .about-container .about-desc {
    font-size: clamp(3rem, 2vw, 1.3rem) !important
  }

  .skills {
    grid-template-columns: repeat(1, 1fr) !important
  }

  .skill-bar span {
    font-size: 3rem !important
  }

  .skill-bar .bar {
    height: 20px
  }
}