#aboutMe {
  background: #111;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem;
  box-sizing: border-box;
}

.about-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.about-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-container .about-desc {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.about-desc {
  font-size: 0.95rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem;
}

.skill-bar {
  margin-bottom: 1rem;
}

.skill-bar span {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.skill-bar .bar {
  background: #333;
  border-radius: 8px;
  height: 12px;
  width: 100%;
  overflow: hidden;
}

.skill-bar .bar .fill {
  background: linear-gradient(90deg, #b400ff, #6a00ff);
  height: 100%;
  width: 0%;
  transition: width 1s ease;
  border-radius: 8px;
}

#aboutMe h2,
#aboutMe .about-desc,
#aboutMe .skill-bar {
  opacity: 0;
  transform: translateY(50px);
}

/* Responsive */
@media (max-width: 1250px) {

  #aboutMe {
    padding: 4rem 2rem !important;
  }

  .about-container h2 {
    font-size: 2.5rem !important;
  }

  .about-container .about-desc {
    font-size: 1.3rem !important;
    line-height: 1.5;
  }

  .skills {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 2rem;
  }

  .skill-bar {
    margin-bottom: 2rem;
  }

  .skill-bar span {
    font-size: 1.3rem !important;
  }

  .skill-bar .bar {
    height: 20px;
  }
}